
<div class="container">
    <form #registerForm="ngForm" class="center" (ngSubmit)="posted(registerForm.value)">
        
        <input type="text" [(ngModel)]="name" read-only ngModel name="names" id="names" placeholder="Enter Your Name"><br><br>
        <textarea type="text" class="textarea" ngModel [(ngModel)]="post" name="post" id="post" placeholder="post"></textarea><br><br>
        <input type="submit">
    </form>
    </div>
    
    <div class="container" *ngFor="let userss of users | async;let i = index">
        <div *ngIf="name!='admin'">
    <h1><b> {{userss.names}}</b></h1>
    <p class="center">{{userss.post}}</p>
    <td  class="high"><button class="btn-primary" *ngIf="name == userss.names"  (click)="del(userss.id)">Delete</button>
       </div>
       <div *ngIf="name=='admin'">
        <h1 *ngIf="name=='admin'"><b> {{userss.names}}</b></h1>
        <p *ngIf="name=='admin'" class="center">{{userss.post}}</p>
        <td  class="high"><button class="btn-primary" *ngIf="name == 'admin'"  (click)="del(userss.id)">Delete</button>
       </div>
    </div>
    <hr>
